# --- Global ---
.DS_Store
.env

# --- Frontend (Node) ---
node_modules/
frontend/node_modules/
build/
dist/
.npm
*.log

# --- Backend (Python) ---
__pycache__/
*.py[cod]
venv/
.pytest_cache/

# --- Backend (Go) ---
/bin/
*.exe
*.test
vendor/